.container {
  max-width: 1400px;
}

@media screen and (max-width: 1342px) {
  .modal-content form .row {
    flex-direction: column !important;
    & .col {
      & input {
        max-width: 100% !important;
      }
      & textarea {
        max-width: 100% !important;
      }
      & select {
        max-width: 100% !important;
      }
    }
  }
  .modal-content--container2 p {
    margin: 1rem 0 0 1rem;
    max-width: 300px;
    text-align: center;
  }
  .modal-content--container2 label {
    text-align: center;
    font-size: 14px;
    margin-top: 1rem;
  }
  .modal-content--container h2 {
    margin: 2rem 0;
    font-size: 19px;
  }
}

@media screen and (max-width: 1279px) {
  .head_page--container {
    display: none;
  }
  section {
    padding: 8% 8% !important;
    font-family: 'Montserrat';
  }
  .main_about2--container {
    &-right {
      margin: 0;
    }
  }
  .main_about3--container2 div div {
    max-width: fit-content;
  }
  .main_certificate--container {
    & .row {
      display: none;
    }
    &-carousel {
      display: block;
    }
  }
  .logo {
    display: none;
  }
  .logoSmallSC {
    display: block !important;
    margin-bottom: 1rem;
    & .line {
      border-top: 2px solid #ffffff;
      margin-top: 1rem;
    }
  }
  .main_about--right {
    margin: 0;
  }
  .main_about--left h2 {
    margin-top: 2rem;
  }
  .main_about {
    margin-bottom: 0;
  }
  .main_case--container2 {
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
  }
  .main_case h3 {
    margin: 1rem auto;
  }
  .main_case--container {
    justify-content: center;
  }
  .main_case h2 {
    max-width: fit-content;
    margin-bottom: 2rem;
  }
  @media screen and (max-width: 930px) {
    .main_case ol li {
      font-size: 12px;
    }
    .main_case p {
      font-size: 12px;
    }
  }
  @media screen and (max-width: 767px) {
    .main_about--right {
      margin: 5% 0;
    }
    a {
      width: 80%;
    }
    section {
      align-items: center;
    }
    .head_page h2 {
      font-size: 30px;
    }
    .main_certificate h2 {
      font-size: 20px;
    }
    .main_case--container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .main_case--containe-left {
      margin-bottom: 1rem;
    }
    .main_clients h2 {
      font-size: 20px;
    }
    .main_about4 h3 {
      font-size: 28px;
    }
    .main_about3 h2 {
      font-size: 28px;
    }
    .main_about2 h2 {
      font-size: 28px;
    }
    .main_about h2 {
      font-size: 28px;
    }
    .footer .footer--container3-img {
      margin: 1rem auto;
    }
    .head_page--white_button {
      font-size: 12px;
    }
    .main_clients--container img {
      margin: 1rem auto !important;
    }
    .main_about4--container2 div div img {
      margin-left: 1rem;
    }
    .footer--container {
      flex-direction: column;
      max-width: 60%;
    }
    .footer--end {
      flex-direction: column;
    }
    .modal-content--container3 label {
      font-size: 10px;
    }
  }
}
