<section class="logo">
  <a href="#">
    <img src="./img/logo.png" alt="#" />
  </a>
</section>
<section class="head_page">
  <div class="logoSmallSC">
    <a href="#">
      <img src="./img/logo-white.png" alt="#" />
    </a>
    <div class="line"></div>
  </div>
  <h2>Автомобильные перевозки</h2>
  <h3>Перевозка грузов автотранспортом</h3>
  <p>
    Транспортировка на грузовых автомобилях — один из самых удобных и доступных способов перемещения грузов на небольшие и средние расстояния. Поэтому автоперевозки остаются стабильно популярными у наших клиентов.
  </p>
  <p>
    Компания BAGAT наработала многолетний опыт организации международных перевозок. Мы гарантируем безопасную доставку тяжеловесных, негабаритных, опасных, требующих особых условий грузов.
  </p>
  <a href="#" id="myBtn" class="head_page--red_button">Узнать цену</a>
  <a href="#" class="head_page--white_button">Подробнее об услуге</a>
  <div class="head_page--container">
    <div class="head_page--container-element">
      <svg>
        <use xlink:href="../img/sprite.svg#icon-main"></use>
      </svg>
      <p>Автомобильные перевозки</p>
    </div>
    <div class="head_page--container-element">
      <svg>
        <use xlink:href="./img/sprite.svg#icon-main"></use>
      </svg>
      <p>Ж/д транспорт</p>
    </div>
    <div class="head_page--container-element">
      <svg>
        <use xlink:href="./img/sprite.svg#icon-main"></use>
      </svg>
      <p>Проектные грузы</p>
    </div>
    <div class="head_page--container-element">
      <svg>
        <use xlink:href="./img/sprite.svg#icon-main"></use>
      </svg>
      <p>Сборная грузоперевозка</p>
    </div>
    <div class="head_page--container-element">
      <svg>
        <use xlink:href="./img/sprite.svg#icon-main"></use>
      </svg>
      <p>Авиаперевозки</p>
    </div>
    <div class="head_page--container-element">
      <svg>
        <use xlink:href="./img/sprite.svg#icon-main"></use>
      </svg>
      <p>Морские перевозки</p>
    </div>
  </div>
</section>